
// color
$red: red;
$coral: coral;
$blue: cornflowerblue;
$green: yellowgreen;
$black: #111;

$gray-10: #343a40;
$gray-20: #495057;
$gray-30: #868e96;
$gray-40: #adb5bd;
$gray-50: #ced4da;
$gray-60: #dee2e6;
$gray-70: #e9ecef;
$gray-80: #f1f3f5;
$gray-90: #f8f9fa;